*_Plist.Dir*
*.udf


.idea/misc.xml
.idea/mjclient.iml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/encodings.xml
ccclient/res/loading.js
ccclient/res/test.cfg
ccclient/res/big_version.cfg
ccclient/cocos2d-html5
ccclient/res/login/z_login_bg.png
ccclient/cocos2d-html5.cmd
ccclient/res/appVersion.cfg
ccclient/res/appAndroidChannel.cfg
ccclient/update/*
ccclient/update.log
.idea
发布配置文件